html, body {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
.kirang-haerang-regular {
  font-family: "Kirang Haerang", system-ui;
  font-weight: 400;
  font-style: normal;
}

#сс {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#preview {
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    transition: left .1s ease-out;
    object-fit: cover;
    filter: brightness(0.1) contrast(200%) blur(10px);
}
#cont {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
#cont img {
    max-width: 100%;
    max-height: 100%;
}

#timer {
    font-size: 40px;
    margin-top: 20px;
    position: absolute;
    top: 20px;
    left:20px;
    color: rgb(255, 0, 0);
    z-index: 30;
}

#eyesClosed {
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    transition: left .1s ease-out;
    object-fit: cover;
}

#eyesOpen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: left .1s ease-out;
    object-fit: cover;
}

#hands {
    height: 15vh;
    width: auto;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#player {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 503px;
    left:30px;
    transition: top .20s ease-out, left .20s ease-out;
}

#icon {
    width: 100%;
    height:100%;
    position: absolute;
    object-fit: cover;
}

#move {
    width: 130px;
    height: 50px;
    background-color: rgb(57, 54, 54);
    color: rgb(255, 255, 255);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    border-radius: 15px;
    top:600px;
    left:35%;
    font-family: "Kirang Haerang", system-ui;
}


#start {
    width: 150px;
    height: 60px;
    color:rgb(32, 50, 31) ;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    border-radius: 15px;
    top: 550px;
    text-shadow: 2px 2px 4px hwb(0 13% 11%);
    left:128px;
    font-family: "Kirang Haerang", system-ui;
    background-image:url("https://i.pinimg.com/736x/60/b2/6a/60b26a75886a6741c1d3635cc5ea6195.jpg");
    background-size:contain;
    filter: brightness(1.5) sepia(0.3) hue-rotate(15deg);
    opacity: 0;
    transition: opacity 2s ease-out;

}


#task {
    font-size: 50px;
    text-align: center;
    position: absolute;
    top:200px;
    left:18px;
    text-shadow: 2px 2px 4px hwb(115 15% 45%);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px;;
    color: rgb(180, 13, 13);
    font-family: "Kirang Haerang", system-ui;
    opacity: 0;
    transition: opacity 2s ease-out;

}

#message {
    font-size: 60px;
    width: 100%;
    color: rgb(255, 66, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top:300px;
    left:0px;
    z-index: 60;
    font-family: "Kirang Haerang", system-ui;

}

#door {
    width:60px;
    height:120px;
    position: absolute;
    top: 200px;
    left: 155px;
}

#doorIcon {
    width: 100%;
    height:100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(1.7);
}


@keyframes shake {
  0% { transform: translate(0px, 0px); }
  10% { transform: translate(-3px, 3px); }
  20% { transform: translate(-3px, -3px); }
  30% { transform: translate(3px, 3px); }
  40% { transform: translate(3px, -3px); }
  50% { transform: translate(-3px, 3px); }
  60% { transform: translate(3px, 3px); }
  70% { transform: translate(-3px, -3px); }
  80% { transform: translate(3px, -3px); }
  90% { transform: translate(-3px, 3px); }
  100% { transform: translate(0px, 0px); }
}

.shake {
  animation: shake 0.3s;
}

.horror-shaking {
    animation: shake 0.1s; 
}

#end {
     width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    z-index: 50;
}

#death {
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    transition: left .1s ease-out;
    object-fit: cover;
}

#again {
    width: 150px;
    height: 60px;
    color:rgb(99, 124, 98) ;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 550px;
    text-shadow: 2px 2px 4px hwb(0 13% 11%);
    left:20px;
    font-family: "Kirang Haerang", system-ui;

}
#home {
    width: 150px;
    height: 60px;
    color:rgb(99, 124, 98) ;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 550px;
    text-shadow: 2px 2px 4px hwb(0 13% 11%);
    left:230px;
    font-family: "Kirang Haerang", system-ui;

}
